/*=========================
PRODUCT PAGE
=========================*/

.product-page{

width:90%;

margin:170px auto 120px;

display:grid;

grid-template-columns:1.2fr .8fr;

gap:70px;

}

.product-images{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}

.product-images img{

background:#111;

width:100%;

transition:.5s;

}

.product-images img:hover{

transform:scale(1.02);

}

.product-details{

position:sticky;

top:130px;

height:fit-content;

}

.collection-name{

font-size:13px;

letter-spacing:2px;

color:#888;

margin-bottom:18px;

}

.product-details h1{

font-family:"TheSeasons";

font-size:50px;

font-weight:400;

margin-bottom:18px;

}

.price{

font-size:28px;

margin-bottom:30px;

}

.description{

line-height:1.9;

color:#aaa;

margin-bottom:45px;

}

.sizes p{

margin-bottom:15px;

}

.size-buttons{

display:flex;

gap:15px;

margin-bottom:40px;

}

.size-buttons button{

width:55px;

height:55px;

border:1px solid white;

background:transparent;

color:white;

transition:.3s;

}

.size-buttons button:hover{

background:white;

color:black;

}

.add-cart{

width:100%;

padding:20px;

border:1px solid white;

background:white;

color:black;

font-weight:600;

letter-spacing:2px;

transition:.3s;

margin-bottom:60px;

position:relative;

overflow:hidden;

}

.add-cart::before{

content:"";

position:absolute;

top:0;

left:-100%;

width:100%;

height:100%;

background:black;

transition:.4s;

z-index:0;

}

.add-cart span{

position:relative;

z-index:2;

}

.add-cart:hover::before{

left:0;

}

.add-cart:hover{

color:white;

}

.details h3{

margin-bottom:20px;

font-weight:500;

}

.details ul{

padding-left:18px;

}

.details li{

margin-bottom:15px;

color:#aaa;

}

.recommendations{

width:90%;

margin:auto;

padding-bottom:120px;

}

.recommendations h2{

font-family:"TheSeasons";

font-size:42px;

font-weight:400;

margin-bottom:50px;

}

@media(max-width:1000px){

.product-page{

grid-template-columns:1fr;

}

.product-details{

position:relative;

top:0;

}

}

@media(max-width:700px){

.product-images{

grid-template-columns:1fr;

}

.product-details h1{

font-size:36px;

}

.recommendations h2{

font-size:32px;

}

}